# No starting with a `/` as this will work for future years.
# Owns any file in an "name" directory anywhere in your repository.
astropy/ @gsoc/astropy
juliaastro/ @gsoc/juliaastro
lincc-fw/ @gsoc/lincc-fw
radis/ @gsoc/radis
reltrans/ @gsoc/reltrans
stingray/ @gsoc/stingray
sunpy/ @gsoc/sunpy
