# No starting with a `/` as this will work for future years.
# Owns any file in an "name" directory anywhere in your repository.
astropy/ @OpenAstronomy/astropy
juliaastro/ @OpenAstronomy/juliaastro
lincc-fw/ @OpenAstronomy/lincc-fw
radis/ @OpenAstronomy/radis
reltrans/ @OpenAstronomy/reltrans
stingray/ @OpenAstronomy/stingray
sunpy/ @OpenAstronomy/sunpy
